<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body class="bg-[#FFD370] md:main_bg_primary min-h-screen">
    <header>
      <div
        class="md:container px-4 pt-4 flex md:max-w-[1028px] items-center justify-between"
      >
        <a href="./index.html"
          ><img src="./assets/images/logo.svg" alt="logo"
        /></a>

        <!-- 右邊ul -->
        <ul class="flex items-center md:space-x-6">
          <li class="hidden md:block md:font-bold md:text-base">
            Frankのリスト
          </li>
          <li class="text-sm md:text-base md:p-3 md:logOut_btn_hover">
            <button>登出</button>
          </li>
        </ul>
      </div>
    </header>
    <%- contents %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
